pre {
    background-color: #1F1F24;
    padding: 16px 0;
    border: 1px solid #424D5B;
}

pre code, p code {
    font-family: 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, monospace;
}

pre code {
    display: block;
    padding: 0 20px;
    color: #a9bcbc;
    line-height: 1.5em;
    overflow-x: auto;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    font-size: 0.9em;
}

pre code .keyword {
    color: #FC5FA3;
}

pre code .type {
    color: #5DD8FF;
}

pre code .call {
    color: #67B7A4;
}

/* Remaining content omitted here for brevity */
